@import "base";
@import url("https://fonts.googleapis.com/css?family=Nunito:400:600");
$screen-sm-min: 768px;

body {
  @media (min-width: $screen-sm-min) {
    padding-top: 60px;
  }
}
.wy-side-nav-search {
  color: black;
}
.wy-side-nav-search > div.version {
  color: rgba(black, 0.3);
}

.wy-nav-side,
.wy-side-nav-search {
  background-color: #f5f7f9;
}

.wy-nav-content-wrap {
  background-color: white;
}

.wy-menu-vertical li a,
.wy-menu-vertical li ul li a,
.wy-menu-vertical li.current a {
  color: black;
}

.header {
  display: flex;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #e1e4e5;
  z-index: 999;
  height: 60px;
  padding: 0 20px;
  flex-direction: row;
  align-items: center;
  transform: translateZ(0);
  left: 0;
  top: 0;
  position: absolute;
  @media (min-width: $screen-sm-min) {
    position: fixed;
  }

  .logo-link {
    display: block;
    margin-left: auto;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .fa-bars {
    cursor: pointer;
    color: black;
    display: none;
    font-size: 30px;
    margin-right: 20px;

    @media (max-width: 767px) {
      display: block;
    }
  }
}

.header-title-wrap {
  width: 280px;
}

.header-title {
  font-size: 20px;

  &,
  &:hover,
  &:visited,
  &:focus {
    color: black;
    text-decoration: none;
  }
}

.logo {
  height: 16px;
}

.wy-breadcrumbs {
  font-size: 16px;
  font-weight: 600;
  min-height: 30px;
  margin-bottom: 20px;

  li {
    a {
      padding: 0;
    }
  }
}

.wy-side-nav-search {
  height: 70px;
  border-bottom: 1px solid #e1e4e5;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: 767px) {
    height: 60px;
  }

  .search-form,
  .search-form form {
    width: 100%;
    position: relative;
  }
}

.search-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 4px;
}

.rst-footer-buttons {
  margin-top: 50px;
}

footer > hr {
  margin-bottom: 14px;
}

.footer-info {
  color: #8392a4;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    font-size: 12px;
    @media (min-width: 768px) {
      margin-bottom: 0px;
    }
  }
  a {
    color: #8392a4 !important;
    text-decoration: underline;
  }
}

.divio-cloud {
  margin: 20px 20px 10px;
  border: 1px solid #e0e0e0;
  background: white;
  border-radius: 5px;
  padding: 20px 16px;
  @media (max-width: $screen-sm-min - 1) {
    display: none;
  }
}

.divio-cloud-caption {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 16px;
  color: rgba(black, 0.5);
  display: block;
}
.divio-cloud-heading {
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  padding-right: 10px;
  margin-bottom: 18px;
}

.divio-cloud-features {
  padding-left: 15px;
}
.divio-cloud-features li {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  position: relative;
}

.divio-cloud-features li:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #0bf;
  border-radius: 7px;
  display: block;
  position: absolute;
  left: -14px;
  top: 5px;
}
.divio-cloud-btn {
  display: block;
  text-align: center;
  height: 36px;
  line-height: 36px;
  color: white;
  background: #0bf;
  padding: 0 !important;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;

  &:visited {
    background-color: #0bf !important;
  }
}

.wy-menu.wy-menu-vertical ~ div {
  display: none !important;
}

.rst-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    code {
      border: none;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.tabs__nav {
  display: block;
}

.tabs__link {
  display: inline-block;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
  color: black !important;
  &:hover,
  &:visited,
  &:active {
    color: black !important;
  }
}

.tabs__link--active {
  color: #0bf !important;
  font-weight: bold;
  border-bottom: 2px solid #0bf !important;
  &:hover,
  &:visited,
  &:active {
    color: #0bf !important;
  }
}

.tabs__content {
  padding-top: 20px;
}
.tabs-pane {
  display: none;
}
